<head>
    <meta charset="utf-8">
    <title>Chef</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/professions.css" rel="stylesheet" type="text/css">
</head>
<%-include('header')-%>
<body>
<!-- Profession description -->
<div class="container1">
    <div class="detail-box">
        <div class="detail-container">
            <h1 id="tittle-1">Chef</h1>
            <h1 id="tittle-2">Chef</h1>
            <p>Did you dream about becoming an astronaut when you were a kid?
                Well, that childhood dream can actually become a reality with a whole lot of training!
            </p>
            <br>
            <p> Astronauts are trained to pilot and/or travel in a spacecraft, work in space, and do
                activities related to human space exploration. While space flight may now seem routine,
                every trip into space can be a walk between success and disaster.
                Therefore, most of an astronaut's career is spent undergoing extensive training.
            </p>
        </div>
    </div>
    <div class="img-box">
        <img src="img/chef.svg" alt="chef">
    </div>
</div>

<!-- Abilities & Skills  -->
<div class="container2">
    <div class="detail-box2">
        <div class="detail-container1">
            <h2>What does a Chef do?</h2>
            <p> Chef is a highly skilled person who is in charge of food production in a commercial kitchen of a restaurant,
                hotel, resort, hospital or cruise ship is normally referred to as a chef. Their duties are very diverse.
                Apart from managing the kitchen and overseeing its staff, they have to plan menus, work out the costing of each dish, and manage inventories and raw material procurement.
            </p>
            <br>
            <p> A talented chef is looked upon with great respect in today’s world.
                Many of them also become celebrities, write bestselling cookbooks, and have
                their own television shows. In the burgeoning hospitality industry there is a tremendous
                demand for talented chefs and the remunerations are more than satisfactory. This is definitely
                a great career option for those passionate about food and cooking.
            </p>
        </div>

        <div class="detail-container2">
            <h2>Abilities & Skills </h2>
            <ul>
                <li> An absolute passion for food and cooking</li>
                <li> Has to have the flexibility to take the unconventional hours that the trade demands</li>
                <li> An acute sense of business so as to rake in profits for the organization</li>
                <li> You must have the talent to create exquisite food, has to be up to date
                    with the latest trends in gastronomy and be extremely good at interpersonal relations.</li>
            </ul>
        </div>

    </div>

    <div class="img-box2">
        <img src="img/sushi.svg" alt="astronaut with rocket">
    </div>

</div>

<!-- Helpful links & practical task  -->
<div class="container3">
    <div class="detail-box3">
        <h2>Helpful links:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://www.nasa.gov/content/astronaut-selection-program" target="_blank">NASA Astronaut Selection Program</a></li>
                <li><a href="http://gctc.ru/"target="_blank"> Yuri A. Gagarin State Scientific Research-and-Testing Cosmonaut Training Center (GCTC)</a></li>
                <li><a href="http://gctc.ru/main.php?id=4629"target="_blank"> Selection of candidates for astronauts in 2019(GCTC)</a></li>
                <li><a href="https://leverageedu.com/blog/how-to-become-an-astronaut/#:~:text=Applicants must be American Citizens,or 1%2C000 hours of piloting."target="_blank"> How to Become an Astronaut? 2022 GUIDE</a></li>
                <li><a href="https://naked-science.ru/article/nakedscience/doroga-v-nebo-kak-stat"target="_blank"> Road to Heaven: How to Become an Astronaut</a></li>
                <li><a href="https://rtd.rt.com/stories/becoming-a-russian-cosmonaut-step-by-step-guide/"target="_blank"> Becoming a Russian cosmonaut: a step-by-step guide</a></li>
                <li><a href="https://tass.ru/spec/stat_kosmonavtom?utm_source=google.com&utm_medium=organic&utm_campaign=google.com&utm_referrer=google.com"target="_blank"> How to become an astronaut requirements. Training. prospects</a></li>
                <li><a href="https://www.gctc.ru/main.php?id=295"target="_blank"> Theory of space flight</a></li>
                <li><a href="https://postnauka.ru/longreads/156592"target="_blank"> The dangers of space: what protects a person in flight</a></li>
            </ul>
        </div>

        <h2>YouTube:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://youtu.be/f9gx8eCAq8c" target="_blank"> How to become an astronaut: documents, requirements, selection, preparation</a></li>
                <li><a href="https://youtu.be/q5T9iYjt6Lk" target="_blank">Becoming Astronauts: Are You Next?</a></li>
                <li><a href="https://youtu.be/-Y04Zic1-r4" target="_blank">Life Inside The International Space Station</a></li>
                <li><a href="https://youtu.be/T4dfXIN0MOs" target="_blank">What it takes to become an astronaut | How does NASA select astronauts?</a></li>
            </ul>
        </div>




    </div>

    <div class="img-box3">
        <img src="img/moon.svg" alt="moon picture">
    </div>


</div>

</body>
<%-include('footer')-%>