<head>
    <meta charset="utf-8">
    <title>Chef</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/professions.css" rel="stylesheet" type="text/css">
</head>
<%-include('header')-%>
<body>
<!-- Profession description -->
<div class="container1">
    <div class="detail-box">
        <div class="detail-container">
            <h1 id="tittle-1">Chef</h1>
            <h1 id="tittle-2">Chef</h1>
            <p>The chef is the most important person in the kitchen. Its main task is to control what is happening,
                manage production processes and personnel. He is responsible for the quality of dishes, updating the menu
                and pricing.
            </p>
            <br>
            <p> To become a chef, you have to go through the entire career ladder in the kitchen. Ordinary cooks cut, boil,
                bake for 12 hours a day. Senior chefs or foremen coordinate their work and at the same time continue
                to stand at the stove. They are led by sous chefs, who are responsible for
                organizing the work of the kitchen and tracking what the waiters take to the tables
                of the guests.
            </p>
        </div>
    </div>
    <div class="img-box">
        <img src="img/chef.svg" alt="chef">
    </div>
</div>

<!-- Abilities & Skills  -->
<div class="container2">
    <div class="detail-box2">
        <div class="detail-container1">
            <h2>What does a Chef do?</h2>
            <p> Chef is a highly skilled person who is in charge of food production in a commercial kitchen of a restaurant,
                hotel, resort, hospital or cruise ship is normally referred to as a chef. Their duties are very diverse.
                Apart from managing the kitchen and overseeing its staff, they have to plan menus, work out the costing of each dish, and manage inventories and raw material procurement.
            </p>
            <br>
            <p> A talented chef is looked upon with great respect in today’s world.
                Many of them also become celebrities, write bestselling cookbooks, and have
                their own television shows. In the burgeoning hospitality industry there is a tremendous
                demand for talented chefs and the remunerations are more than satisfactory. This is definitely
                a great career option for those passionate about food and cooking.
            </p>
        </div>

        <div class="detail-container2">
            <h2>Abilities & Skills </h2>
            <ul>
                <li> An absolute passion for food and cooking</li>
                <li> Has to have the flexibility to take the unconventional hours that the trade demands</li>
                <li> An acute sense of business so as to rake in profits for the organization</li>
                <li> You must have the talent to create exquisite food, has to be up to date
                    with the latest trends in gastronomy and be extremely good at interpersonal relations.</li>
            </ul>
        </div>

    </div>

    <div class="img-box2">
        <img src="img/sushi.svg" alt="astronaut with rocket">
    </div>

</div>

<!-- Helpful links & practical task  -->
<div class="container3">
    <div class="detail-box3">
        <h2>Helpful links:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://www.edimdoma.ru/kulinarnaya_shkola" target="_blank">Online cooking school</a></li>
                <li><a href="https://www.skillshare.com/browse/cooking?coupon=GOOG1MFREE&utm_source=Google&utm_medium=paidsearch&utm_campaign=Croud_Search_Google_AS_KZ_EN_BOF_Non-Brand&utm_term=online+cooking+classes&matchtype=e&locale=en&gclid=Cj0KCQjw6pOTBhCTARIsAHF23fIt4CfP6X4Tva_i-q3-GemIgy0IIDepzKGw7JyKWHsdxUsUpKkuvikaAv6yEALw_wcB"target="_blank"> Online Cooking Classes
                        Find what fascinates you as you explore these Cooking classes</a></li>
                <li><a href="https://www.learnhowtobecome.org/chef/"target="_blank">How to Become a Chef</a></li>

            </ul>
        </div>

        <h2>YouTube:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://youtu.be/R-3dQ4hb2SE" target="_blank"> A day in the life of a culinary student</a></li>
                <li><a href="https://youtu.be/LOO_vJzGSP0" target="_blank">Day in my life as a pastry chef 2021</a></li>
            </ul>
        </div>




    </div>

    <div class="img-box3">
        <img src="img/donuts.svg" alt="moon picture">
    </div>


</div>

</body>
<%-include('footer')-%>