<!DOCTYPE html>
<html lang="en">
<header>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <div class="header_logo">
        <img src="img/logo.png" height="84px"></div>
    <nav><div class="topnav" id="myTOPNAV">
            <a href="/">HOME</a>
            <a href="/prof">PROFESSIONS</a>
            <a href="#">TOURS</a>
                <a href="/reg"> <button class="sign">SIGN UP</button></a>
                <a href="/log"> <button class="sign1" type="submit">LOG IN</button></a>


                <a href="/logout"><button class="sign1" type="submit">PROFILE</button></a>


        </div>
    </nav>
</header>