<head>
    <meta charset="utf-8">
    <title>Taboo</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<%-include('header')-%>

<div class="container1">
    <div class="detail-box">
        <div class="detail-container">
            <h1>
                Go to <span>bright future</span>  with keeping your <span>chin up</span>
            </h1>
            <button class="btn">
                <a href="/test"> GET STARTED</a>
            </button>

        </div>
    </div><
    <div class="img-box">
        <img src="img/m1.png" alt="">
    </div>
</div>

<!-- WHO WE ARE SECTION -->
<div class = "content">
    <div class="title">
        <hr style="color: #6F5ACD; height: 2px">
        <h2>Who We Are?</h2>
    </div>

    <div class = "textbox">
        <a>Our project is a career-oriented website that allows you not only to
            find a suitable profession but also to have an <span>idea of where to start.</span>
            Currently, <span>the choice of profession</span> is the main problem for both
            schoolchildren and adolescents, as well as adults.</a>
    </div>

    <div class = "images1" style="display: inline-block">
        <div class = "image" >
            <img src="img/prog.png">
        </div>

        <div class = "chart">
            <img src="img/chart.png">
            <p>The research article from nur.kz collected statistical data on the overall job satisfaction of KZ citizens.</P>
        </div>
    </div>
</div>

<!-- Our Mission SECTION -->
<div class="content2">
    <div>
        <img src="img/our mission.png" class="imgcss">
    </div><br>
</div>


<!-- How it work SECTION-->
<div class="content3">
    <div class="titwork"><b>How it works</b></div>
    <div class="works">
        <div class="textblock">
            <div class="row">
                <div class="block">
                    <div class="head">1. Take test</div><br>
                    <div class="info">Take the quiz and find out about your archetype, values, skills, interests and talents.</div>
                </div>
                <div class="block">
                    <div class="head">2. Our algorithms identify the suitable profession for you</div><br>
                    <div class="info">Discover more about certain sphere and it's pros and cons</div>
                </div>
            </div>
            <div class="row">
                <div class="block">
                    <div class="head">3. Try practice task</div><br>
                    <div class="info">For more deep undestanding of choosen occupatiob </div>
                </div>
                <div class="block">
                    <div class="head">4. Make plan</div><br>
                    <div class="info">We provide you with a plan and educational materials for further development in this area</div>
                </div>
            </div>
        </div>

        <div class="image" style="width: 700px;">
            <img src="img/howwork.png">
        </div>
    </div>
</div>

<!-- Join us SECTION -->
<div class="join">
    <div class="col">
        <div class="image" style="width: 700px;">
            <img src="img/join.png">
        </div>
    </div>

    <div class="col">
        <br><br>
        <div class="Jhead">Join us</div><br>
        <div class="text">We believe in giving the best possible future to people in order to help them lead better lives. </div>
        <br>
        <button class="btn"><a href="signup.ejs"> SIGN UP NOW</a>

        </button>
    </div>
</div><br>
<div class="prefoot">
    <img src="img/q.png" class="PreFimg">
</div>

<%-include('footer')-%>