<head>
    <meta charset="utf-8">
    <title>Musician</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/professions.css" rel="stylesheet" type="text/css">
</head>
<%-include('header')-%>
<body>
<!-- Profession description -->
<div class="container1">
    <div class="detail-box">
        <div class="detail-container">
            <h1 id="tittle-1">Musician</h1>
            <h1 id="tittle-2">Musician</h1>
            <p>We all once wanted to learn how to play a musical instrument and perform on stage in front
                of thousands of people. But it did not go further than solo concerts in his room or at school
                events and a "naive" childhood dream.
            </p>
            <br>
            <p> And all because in society there are many stereotypes and attitudes about creative professions,
                especially musicians and artists.
            </p>
        </div>
    </div>
    <div class="img-box">
        <img src="img/musician.svg" alt="astronaut">
    </div>
</div>

<!-- Abilities & Skills  -->
<div class="container2">
    <div class="detail-box2">
        <div class="detail-container1">
            <h2>What does a Musician do?</h2>
            <p>
                How often have you heard that music is not serious and that you
                cannot provide yourself financially with singing and dancing?
                All this is wrong, because being a musician is much more than playing notes on an instrument.
                Learning to choose the right instrument for yourself and start making music can change the lives of many people.
                It is more than a hobby, a skill or a talent.
            </p>
            <br>
            <p> First, a musician is a person who composes, conducts, or performs music.
                If you want to be a musician, you can learn to develop the skills you need to be the musician you want to be and make the
                music you want with practice.
            </p>
        </div>

        <div class="detail-container2">
            <h2>Abilities & Skills </h2>
            <ul>
                <li>confidence in performing before an audience</li>
                <li>Whatever your genre of music, you'll need to get practical experience. Get involved with relevant
                    orchestras, choirs, music societies, bands and solo musicians at university and in your local area.</li>
                <li>You'll also need business and marketing skills as many musicians work on a self-employed or freelance basis.</li>
                <li>As a popular musician you could form part of a band, a backing group or be a solo performer.
                    You'll generally need to work in another role and play part time until you become successful.</li>
            </ul>
        </div>

    </div>

    <div class="img-box2">
        <img src="img/guitar.svg" alt="guitar picture">
    </div>

</div>

<!-- Helpful links & practical task  -->
<div class="container3">
    <div class="detail-box3">
        <h2>Helpful links:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://i-m-i.ru/guides/iammusician" target="_blank">I AM A MUSICIAN. WHAT TO DO?</a></li>
                <li><a href="https://arzamas.academy/courses/25"target="_blank">How to listen to classical music</a></li>
                <li><a href="https://www.edx.org/course/introduction-to-music-theory-2?index=product&queryID=3f618a997171bf71a152b5228eeec1d8&position=1"target="_blank"> Introduction To Music Theory
                    </a></li>
                <li><a href="https://i-m-i.ru/guides/mental-health?utm_source=slider&utm_medium=imi_site"target="_blank">MENTAL HEALTH OF MUSICIANS</a></li>
                <li><a href="https://www.skillshare.com/classes/FL-Studio-20-Beginners-Course-Learn-How-to-Make-Beats-in-FL-Studio/1016411648"target="_blank"> FL Studio 20 Beginners Course
                    </a></li>
                <li><a href="https://learningmusic.ableton.com/"target="_blank"> Learning Music Ableton</a></li>

            </ul>
        </div>

        <h2>YouTube:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://youtu.be/8duWd38_dys" target="_blank"> Typical day in life of a music producer</a></li>
                <li><a href="https://youtube.com/playlist?list=PLFoWUPj5_W1DWmiuhOAhY44CblCymN05L" target="_blank">Beginner Guitar Lesson Course</a></li>
                <li><a href="https://youtu.be/lNnqYbjYv74" target="_blank">How To Start A Music Career With No Support </a></li>
                <li><a href="https://youtu.be/KcX8KYmEjMg" target="_blank">Notes and Rests in Music</a></li>
            </ul>
        </div>




    </div>

    <div class="img-box3">
        <img src="img/micro.svg" alt="mic picture">
    </div>


</div>

</body>
<%-include('footer')-%>