<head>
    <meta charset="utf-8">
    <title>Astronaut</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<style>

</style>
<%-include('header')-%>
<body>

<div class="as"></div>
<h1>Astronaut</h1>
<p>Did you dream about becoming an astronaut when you were a kid? Well, that childhood dream can actually become a reality with a whole lot of training!

    Astronauts are trained to pilot and/or travel in a spacecraft, work in space, and do activities related to human space exploration. While space flight may now seem routine, every trip into space can be a walk between success and disaster. Therefore most of an astronaut's career is spent undergoing extensive training.

</p>
</body>
<%-include('footer')-%>