<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taboo</title>
    <link rel="stylesheet" href="/css/profmain.css">
</head>
<%-include('header')-%>
<br><br>
    <div class="container">
        <div class='infa' id="one">
            <div class="text">
                <a href="" target="blank">IT specislist</a><br><br>
                <h3>some text about it......</h3><br>
            </div>
            <div class="img">
                <img src="img/IT.png" style="height: 190px;">
            </div>
        </div>

        <div class='infa'>
            <div class="text">
                <a href="" target="blank">Astronaut</a><br><br>
                <h3>some text about it......</h3><br>
            </div>
            <div class="img">
                <img src="img/cosmo.png" style="height: 190px;">
            </div>
        </div>

        <div class='infa'>
            <div class="text">
                <a href="" target="blank">Chief</a><br><br>
                <h3>some text about it......</h3><br>
            </div>
            <div class="img">
                <img src="img/cheif.png" style="height: 190px;">
            </div>
        </div>

        <div class='infa'>
            <div class="text">
                <a href="" target="blank">Musician</a><br><br>
                <h3>some text about it......</h3><br>
            </div>
            <div class="img">
                <img src="img/music.png" style="height: 190px;" >
            </div>
        </div>

    </div>
    </body>
</html>