<head>
    <meta charset="utf-8">
    <title>Programmer</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/professions.css" rel="stylesheet" type="text/css">
</head>
<%-include('header')-%>
<body>
<!-- Profession description -->
<div class="container1">
    <div class="detail-box">
        <div class="detail-container">
            <h1 id="tittle-1">Programmer</h1>
            <h1 id="tittle-2">Programmer</h1>
            <p>
                Have you always dreamed of making designs for websites or assembling by a robot,
                or maybe creating your own game?
            <br>
            </p>
            <p>
                If yes, then this profession might interest you.
                The road to becoming a computer programmer typically begins with a keen interest in technology,
                and an almost insatiable curiosity about the language of computers.
            </p>

            <br>
            <p>  The term 'programmer' can be used to refer to a software developer,
                software engineer, computer scientist, or software analyst.
                However, individuals in these professions typically have other software
                engineering skills beyond programming. For this reason, the term programmer
                is sometimes considered an oversimplification of these other professions.
            </p>
        </div>

    </div>
    <div class="img-box">
        <img src="img/it guy.svg" alt="programmer">
    </div>
</div>

<!-- Abilities & Skills  -->
<div class="container2">
    <div class="detail-box2">
        <div class="detail-container1">
            <h2>What does a Programmer do?</h2>
            <p> Programmers write code for computer programs and mobile applications.
                They also are involved in maintaining, debugging and troubleshooting
                systems and software to ensure that everything is running smoothly.
            </p>
            <br>
            <p> Programmers also create and install updates for existing software programs.
                An update might include a bug fix, or enhanced functionality to improve the user experience.
                Depending on the complexity of the update, these projects can take anywhere from a few days to several months.
            </p>
        </div>

        <div class="detail-container2">
            <h2>Abilities & Skills </h2>
            <ul>
                <li>The most effective and successful programmers have a talent for figuring out how something is done and
                    finding ways to do it more efficiently. A healthy degree of inquisitiveness will help ensure your consistent
                    growth and development as a programmer.</li>
                <li>The ability to learn concepts and apply them to other problems is an essential skill for programmers. </li>
                <li>Many aspects of programming require an understanding of math beyond the basic level.
                    To become proficient at programming, you will need to have a thorough understanding of algebra and arithmetic.</li>
                <li>As a programmer, you will also need to communicate your work or processes to other people from time to time.
                    Often, processes and results will have to be communicated to other workers who may not have the level of
                    programming knowledge that you have.</li>
            </ul>
        </div>

    </div>

    <div class="img-box2">
        <img src="img/it girl.svg" alt="astronaut with rocket">
    </div>

</div>

<!-- Helpful links & practical task  -->
<div class="container3">
    <div class="detail-box3">
        <h2>Helpful links:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" target="_blank"> <span>CS50: Introduction to Computer Science</span>
                        This is Harvard University's course introduction to the intellectual enterprises of computer science and the art of programming
                        for majors and non-majors alike, with or without prior programming experience.</a></li>
                <li><a href="https://thecrashcourse.com/topic/computerscience/"><span>Crash Course</span> is one of the best ways to educate yourself, your classmates, and your family</a></li>
                <li><a href="https://www.coursera.org/specializations/python"target="_blank"><span>Introduction to Python</span></a></li>
                <li><a href="https://stepik.org/course/363/info"target="_blank"> The practical foundations and constructions of the C ++ </a></li>
                <li><a href="https://www.lektorium.tv/computerhistory"target="_blank">The development of the electronic computer and programming in the Soviet Union.</a></li>

            </ul>
        </div>

        <h2>YouTube:</h2>
        <div class="text-block1">
            <ul>
                <li><a href="https://youtu.be/SzJ46YA_RaA" target="_blank"> Map of Computer Science</a></li>
                <li><a href="https://youtu.be/eSFA1Fp8jcU" target="_blank">The Math Needed for Computer Science</a></li>
                <li><a href="https://youtu.be/zOjov-2OZ0E" target="_blank">Introduction to Programming and Computer Science - Full Course</a></li>
            </ul>
        </div>
    </div>

    <div class="img-box3">
        <img src="img/it icon.svg" alt="moon picture">
        <button class="btn">
            <a href="/tryit"> GO TO PRACTICE TASK</a>
        </button>
    </div>



</div>

</body>
<%-include('footer')-%>