<html>

<%=addEventListener()%>

<body onload="scoreGame();">      <!--3апуск функции при полной прогру3ке страницы-->
<div id="textContentEnd" ><p>Ваш счет:<span id="result"></span></p></div>
<body>
</html>