<head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<%-include('header')-%>

<form action="/log" method="POST">
    <div class="auth">
        <h1>SIGN IN</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
    <div>
        <label for="email" style="font-size: 20px">Email</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="password" style="font-size: 20px">Password</label>
        <input type="password" name="password" required>
    </div><br>
    <button type="submit" class="authbtn">Login</button><br><br>
    <a href="/reg" style="color: #ff93dd; font-size: 20px">Register</a>
    </div>
</form>

