<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Taboo</title>
    <link rel="stylesheet" href="css/style.css">
  

  </head>
     <body>
       <header>
         <div class="header_logo">
          <img src="img/logo.png" height="84px"></div>
          <nav><div class="topnav" id="myTOPNAV">
            <a href="/">HOME</a>
            <a href="#">ABOUT</a>
            <a href="/prof">PROFESSIONS</a>
            <a href="#">TOURS</a>
            <a href="" id="menu" class="icon">&#9776</a>
              <a href="#" class="button">
                  <a class="sign" href="/register">SIGN UP</button></a>
                  <a class="sign1" href="/login">LOG IN</button></a>
              </a>
          </div>
        </nav>

       </header>
       <body>
        <form action="" method="post">
            <label>
              <p class="label-txt">ENTER YOUR EMAIL</p>
              <input type="email" class="input"  name="Email">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <label>
              <p class="label-txt">ENTER YOUR FIRST NAME</p>
              <input type="text" class="input" >
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>

            <label>
                <p class="label-txt">ENTER YOUR LAST NAME</p>
                <input type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
              <p class="label-txt" >ENTER YOUR PASSWORD</p>
              <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="input">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <button class="sign" type="submit">Sign In</button>
            <a href="Signup.html">Sign Up</a>
          </form>
        <script>
            const form = document.getElementById('login')
            form.addEventListener('submit', login)

            async function login(event) {
                event.preventDefault()
                const username = document.getElementById('username').value
                const password = document.getElementById('password').value

                const result = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                }).then((res) => res.json())

                if (result.status === 'ok') {
                    // everythign went fine
                    console.log('Got the token: ', result.data)
                    localStorage.setItem('token', result.data)
                    alert('Success')
                } else {
                    alert(result.error)
                }
            }
        </script>
       </body>