<!DOCTYPE html>

<html>
<head>
    <title>Taboo</title>
    <meta charset="utf-8">
    <%-include('header')-%>
    <style type="text/css">
        table{
            width: 100%;
            height: 100%;
            text-align: center;
        }
        td:nth-child(2n) {
            background-color: #87CEEB;
            border-radius: 6px;
            height: 150px;
            text-align: center;

        }
        td:nth-child(2n):hover { cursor: pointer;
            color: #F0E68C;
            background-color: #1E90FF;
        }
        .active {
            display: table-row;
            height:200%;
        }
        tr{
            display: none;
            height: 190%;
        }
        .h1{
            height: 90px;
            margin: 4px;
            text-align: center;
            width: 300px;
            border-radius: 20px;

        }
        .score{
            display: none;
        }
        .main
        {
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 35px;
            color: #6f5acd;
            align-items: center;
            width: 50%;
            position:absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background-color: #F0E68C;
            border-radius: 6px;

        }

        h1{
            border: black;
            color: #6e5dba;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .container{




        }

    </style>
    <link href="/css/style.css" rel="stylesheet" type="text/css">



</head>

<body>
<div class="main">

<h4>Choose one of two activities</h4>

<table  cellpadding ="5" class="">
    <tr class="active">
        <td class="score">1a </td><td>To raise and train service dogs to search for drugs </td> <td class="score">1b </td><td>Develop new models of electronic household appliances</td><br>
    </tr>
    <tr>
        <td class="score">2a </td><td>Rescue people after earthquakes </td><td class="score">2b </td><td>Certify documents, issue power of attorney and contracts</td>
    </tr>
    <tr>
        <td class="score">3a </td><td>Sing in a music group </td><td class="score">3b </td><td>To train intensively, improve and achieve new sports results</td>
    </tr>
    <tr>
        <td class="score">4a </td><td>To improve the operation of computers, equipment </td><td class="score">4b </td><td>Tell about the product, convince people to buy it</td>
    </tr>
    <tr>
        <td class="score">5a </td><td>Translation of scientific texts </td><td class="score">5b </td><td>Write stories, scripts, feuilletons</td>
    </tr>
    <tr>
        <td class="score">6a </td><td>Train your body so that it can withstand the effects of heavy physical exertion </td><td class="score">6b </td><td>Develop measures to protect rare plants</td>
    </tr>
    <tr>
        <td class="score">7a </td><td>Repair of office equipment, computers, phones </td><td class="score">7b </td><td>Correction of semantic and stylistic errors in texts preparing for printing</td>
    </tr>
    <tr>
        <td class="score">8a </td><td>Do floristry, decorate rooms with flowers </td><td class="score">8b </td><td>Analyze the condition of plants and animals in a polluted environment</td>
    </tr>
    <tr>
        <td class="score">9a </td><td>Drive a car, bus, trailer, train locomotive </td><td class="score">9b </td><td>Mix music or customize photos using a computer</td>
    </tr>
    <tr>
        <td class="score">10a </td><td>Train your sports skills daily in the gym, swimming pool, stadium, court, etc. </td><td class="score">10b </td><td>Debugging the operation of a sports car and replacing mechanisms in case of malfunction</td>
    </tr>
    <tr>
        <td class="score">11a </td><td>Consult people on tourist routes of other cities, countries </td><td class="score">11b </td><td>Design department store windows; design concerts and shows</td>
    </tr>
    <tr>
        <td class="score">12a </td><td>For breeding ornamental fish and caring for aquariums in offices </td><td class="score">12b </td><td>Provide medical care to people</td>
    </tr>
    <tr>
        <td class="score">13a </td><td>Systematize the company's documentation and prepare a new one (contracts, invoices, statements, powers of attorney, etc.) </td><td class="score">13b </td><td>Develop the skills of a beautiful gait and plastic movements for professional performance on the podium</td>
    </tr>
    <tr>
        <td class="score">14a </td><td>Study genetics, breed new plant varieties </td><td class="score">14b </td><td>Work in archival funds, find necessary documents</td>
    </tr>
    <tr>
        <td class="score">15a </td><td>Accompany people on difficult hiking trips as an instructor </td><td class="score">15b </td><td>Invent and practice complex acrobatic tricks, sports numbers</td>
    </tr>
    <tr>
        <td class="score">16a </td><td>Treat cats, dogs, horses, etc. </td><td class="score">16b </td><td>To build computers</td>
    </tr>
    <tr>
        <td class="score">17a </td><td>Finding the right people, conducting recruitment in various companies </td><td class="score">17b </td><td>Conducting financial analysis of the securities market</td>
    </tr>
    <tr>
        <td class="score">18a </td><td>Play on stage, make movies, perform stunts </td><td class="score">18b </td><td>Train and rehearse beautiful and precise movements before a sports performance</td>
    </tr>
    <tr>
        <td class="score">19a </td><td>To establish the operation of medical laser, ultrasound equipment </td><td class="score">19b </td><td>Teach various subjects at school, college, institute, etc.</td>
    </tr>
    <tr>
        <td class="score">20a </td><td>Calculate an economical way to deliver goods to the consumer </td><td class="score">20b </td><td>Design of websites, books, magazines with illustrations</td>
    </tr>
    <tr>
        <td class="score">21a </td><td>Conduct constant psychological and physical preparation for competitions, tournaments, performances </td><td class="score">21b </td><td>Participate in expeditions dedicated to the study of natural phenomena</td>
    </tr>
    <tr>
        <td class="score">22a </td><td>Build houses according to plans, conduct electrical wiring according to the project </td><td class="score">22b </td><td>Work with financial laws and codes</td>
    </tr>
    <tr>
        <td class="score">23a </td><td>Design garden and park areas, design areas with plants </td><td class="score" >23b </td><td >Analyze the molecular composition of blood</td>
    </tr>
    <tr>
        <td class="score">24a </td><td>Design of new production equipment, residential buildings </td><td class="score">24b </td><td>For architectural and restoration works of historical objects</td>
    </tr>
    <tr>
        <td class="score">25a </td><td>To hone the skill of performing a sports exercise, overcoming fatigue and fear </td><td class="score">25b </td><td>Develop new models of sports simulators, bicycles and other sports equipment</td>
    </tr>
    <tr>
        <td class="score">26a </td><td>Organize holidays, act as toastmaster </td><td class="score">26b </td><td>Conduct concert programs, announce to the audience the names of the speakers and the names of the program numbers</td>
    </tr>
    <tr>
        <td class="score">27a </td><td>To study the life of organisms using an electron microscope </td><td class="score">27b </td><td>Provide psychological assistance to people, work on a helpline</td>
    </tr>
    <tr>
        <td class="score">28a </td><td>Process, analyze and summarize sociological data </td><td class="score">28b </td><td>Work professionally on the beauty of your figure and appearance</td>
    </tr>
    <tr>
        <td class="score">29a </td><td>Development of plant protection products against pests and viruses </td><td class="score">29b </td><td>Writing computer programs</td>
    </tr>
    <tr>
        <td class="score">30a </td><td>To advise people in the gym, in the pool, on the sports field </td><td class="score">30b </td><td> To train general endurance and improve individual sports or artistic skills</td>
    </tr>

</table>
</div>
</div>
</body>
<script src="js/test.js"></script>

</html>
