<!DOCTYPE html>

<html>
<head>
    <title>Taboo</title>
    <meta charset="utf-8">
    <%-include('header')-%>
    <style type="text/css">
        *{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        main{
            background-color: rgba(84, 62, 181, 0.45);
            padding: 2%;
            border-radius: 2%;
            margin: 4em;

        }
        body {
           overflow-x: hidden;

            text-align: center;
        }
        header{
            text-align: center;
            padding: 0.2%;
        }
        h1 {
            text-align: center;
            color:white;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.233);
            font-size: 40px;
        }

        h2 {

            text-align: left;
            color: white;
        }

        h3 {

            font-size: 24px;

        }

        h4 {
            text-align: left;
            font-size: 18px;

        }

        a {
            color: navy;
        }

        /* STYLE FLEX CONTAINER */
        .question {
            display: flex;
            margin-top: 2em;
            overflow: hidden;
            text-align: left;
            width: 100%;
        }

        /* STYLE FLEX ITEM */
        .answer-choice {
            margin: 10px;
            font-size: 20px;
            background-color: #ff93dd;
            padding: 20px;
            border-radius: 10%;

        }

        /* STYLE IMAGES */
        .answer-choice img {
            height: 180px;
            max-width: 250px;
        }

        /* STYLE BUTTON */
        .bq {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            border-radius: 15px;
            font-size: 17px;
            padding: 8px;
            border-style: hidden;
            width: 180px;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: center;

        }
@media screen and (min-width: 1024px) {
    .answer-choice {
        width: 100%;
    }
}
/*@media screen and (max-width: 1000px){
    .answer-choice{
        width: 10%;

    }
    main{
    width: 90%;
}
    .question{
        height: 20%;

    }
}*/
    </style>
    <link href="/css/style.css" rel="stylesheet" type="text/css">



</head>

<body>





<main>
    <h1>WHAT SUITS YOU BEST?</h1><br>
    <h2>Which one of these school subject do you like most?</h2>
    <div class="question">

        <div class="answer-choice">
            <img src="/img/q1a1.png">
            <br>
            <button class="bq" id="q1a1">Music</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a2.png">
            <br>
            <button class="bq" id="q1a2">Math</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a3.png">
            <br>
            <button class="bq" id="q1a3">Physics</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a4.png">
            <br>
            <button class="bq" id="q1a4">Industrial arts</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a5.png">
            <br>
            <button class="bq" id="q1a5">Chemistry</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a6.png" width="170px" height="900px">
            <br>
            <button class="bq" id="q1a6">Literature</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q1a7.png" width="150px" height="200px">
            <br>
            <button class="bq" id="q1a7">Foreign language</button>
        </div>
    </div>
<br><br>
    <h2>PERSONAL QUALITY</h2>
    <div class="question" style="margin-top: -2px">

        <div class="answer-choice" >
            <img src="https://o.remove.bg/downloads/b4794191-aaa6-407c-833d-1fcefaa2c5c4/image-removebg-preview.png" alt = "An image of apthway paved with circular stepping stones in a garden. On either side of the pathway, there are pink tulips. Trees with a variety of flowers and leaves form the background.">
            <br>
            <button  class="bq" id="q2a1">Perseverance</button>
        </div>

        <div class="answer-choice">
            <img src="https://o.remove.bg/downloads/95e2889b-1088-4f4e-afa5-fa41302a4862/image-removebg-preview.png" alt = "An image of someone splashing water by moving their head up out of a swimming pool. This person has long hair and is closing their eyes.">
            <br>
            <button  class="bq" id="q2a2">Logical thinking</button>
        </div>

        <div class="answer-choice">
            <img src="https://o.remove.bg/downloads/ce237755-6099-4212-a591-ad0ba438b700/image-removebg-preview.png" alt = "An image of someone standing on a mountain and forming a V with their hands. This person is wearing a backpack. The background of the image includes clouds against a blue sky, greenery, and other mountains.">
            <br>
            <button  class="bq" id="q2a3">Initiative</button>
        </div>

        <div class="answer-choice">
            <img src="https://o.remove.bg/downloads/4deb929d-2cb8-4e85-b5f9-f607f86e2eb4/image-removebg-preview.png" alt = "An image of a gray kitten looking up to the right. This kitten is surrounded by greenery and is perched on what appears to be a ledge or concrete brick.">
            <br>
            <button  class="bq" id="q2a4">Curiosity</button>
        </div>

        <div class="answer-choice">
            <img src="https://o.remove.bg/downloads/b3e36cb0-1bc2-4cd6-927f-fed84d21f9d3/image-removebg-preview.png" alt = "An image of someones legs that was taken while the person was running. The sole of the person's right leg is facing the viewer and the person is running on a trail or path surrounded by trees and grass.">
            <br>
            <button  class="bq" id="q2a5">Sociability</button>
        </div>

        <div class="answer-choice">
            <img src="https://o.remove.bg/downloads/419592a2-b3eb-4791-85b8-28597caefa41/image-removebg-preview.png" alt = "An image of a sunset behind hills or mountains covered in grass and trees. The sky is pretty clear and the sun is close to the horizon.">
            <br>
            <button  class="bq" id="q2a6">Discipline</button>
        </div>
    </div>
<br><br>
    <h2>WORKING CONDITIONS</h2>
    <div class="question" style="margin-top: -2px">
        <div class="answer-choice">
            <img src="/img/q3a1.png">
            <br>
            <button class="bq" id="q3a1">Ready to follow clear rules</button>
        </div>

        <div class="answer-choice"  >
            <img src="/img/q3a2.png" width="150px" height="300px">
            <br>
            <button  class="bq" id="q3a2">I want freelance</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q3a3.png">
            <br>
            <button class="bq" id="q3a3">I want to work alone</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q3a4.png">
            <br>
            <button class="bq" id="q3a4">I want to work in a team</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q3a5.png">
            <br>
            <button class="bq" id="q3a5">I want to travel a lot</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q3a6.png">
            <br>
            <button class="bq" id="q3a6">I want to be in public</button>
        </div>
    </div>
    <br><br>
    <h2>GOALS AND VALUES</h2>
    <div class="question" style="margin-top: -2px">
        <div class="answer-choice">
            <img src="/img/q4a1.png">
            <br>
            <button class="bq" id="q4a1">Influence</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q4a2.png">
            <br>
            <button class="bq" id="q4a2">Fame</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q4a3.png">
            <br>
            <button class="bq" id="q4a3">Art</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q4a4.png">
            <br>
            <button class="bq" id="q4a4">Help people</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q4a5.png">
           <br>
            <button class="bq" id="q4a5">Entertainment</button>
        </div>

        <div class="answer-choice">
            <img src="/img/q4a6.png">
           <br>
            <button class="bq" id="q4a6">Comfort and safety</button>
        </div>
    </div>


    </div>
<br><br>
    <h3>You are</h3>
    <h1 id="result">...<h1>
            <button class="bq"  id="restart" style="position: center">Restart</button>

</main>
</body>

<script src="js/test.js"></script>

<br><br>
<%-include('footer')-%>


