<head>
    <meta charset="utf-8">
    <title>Taboo</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <style>
        body{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #6652bd;
            font-size: 24px;
            overflow-x:hidden;
        }
        span{
            font-size: 28px;
            color: #2B1392;
            padding: 10px;
        }
        .try{
            display: inline-flex;
            justify-content: flex-start;
            padding: 50px;
        }
        .t{
            flex: 1 2;
        }
        #note{
            border: 2px solid #FF93DD;
            padding: 10px;
        }
        .tt{
            padding: 50px;
        }
    </style>
</head>
<%-include('header')-%>
<body>
<div class="tt">
    <h1 style="text-align: center">Let's try <span style="font-size: 40px">C:0DE</span><br><br></h1>
    <h3>First of all, you may say "hello" to the world ^^, or good morning...or even not so good things...<br>
        There we will code on <span>PYTHON</span><br><br>
    SOOOOOOOO:</h3>
</div>
<div class="try">
    <div class="t" id="note"><span>print()</span> = to output your data on screen(console)<br>
        <span>input()</span> = to input your data(reverse to "print")<br>
        <span>#</span> = comment code<br><br>
        <span> x= </span> = variable, which store data, any letter can be used instead of x
    </div>
    <div class="t">
        <iframe src="https://trinket.io/embed/python/60d7ce7090" width="175%" height="363" allowfullscreen></iframe></iframe>
    </div>
</div>
<div class="try">
    <div class="t" id="note">Data types:<br><br>
        <span>str</span> = text | don't forget put text in "", ''<br>
        <span>int, float</span> = numeric<br>
        <span>bool</span> = boolean<br><br>
        <span>type()</span> = show type of data<br><br>
        and some math operations, that you already know | <span>[+, -, *, /]</span>
    </div>
    <div class="t">
        <iframe src="https://trinket.io/embed/python/6412af4c79" width="175%" height="363" allowfullscreen></iframe>
    </div>
</div>
<div class="try">
    <div class="t" id="note">For for loops<br><br>
        <span>range, list</span> = sequence type of data<br>
        <span>==</span> = equal<br>
        <span>!=</span> = not equal<br>
        more math operations <span> [>, <, >=, <=]</span><br><br>
        Statements: if, for loop, while loop
    </div>
    <div class="t">
        <iframe src="https://trinket.io/embed/python/e5ad47d876" width="175%" height="363" allowfullscreen></iframe>
    </div>
</div>
<h1>Have fun (˵ •̀ ᴗ - ˵ ) ✧</h1><br>

<iframe src="https://trinket.io/embed/python/979f186da5" width="100%" height="356" allowfullscreen></iframe>
<!--
<iframe frameborder="0" width="100%" height="400px" src="https://create.withcode.uk/"><a target="_blank" href="https://create.withcode.uk/">create.withcode.uk</a></iframe>
-->
</body>
